.button_styles {
  margin-top: 10px;
  height: fit-content;
  width: fit-content;

  background-color: white;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 25px;
  margin-right: 5px;
}
