@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --notification-button-size: 38px;
  /*General*/
  font-family: 'Rubik', sans-serif;
  font-size: 16px;

  /*Primary */
  --color-primary-bg: #ffffff;
  --color-primary-hover-bg: #ceced2;
  --primary-border-radius: 7px;

  // Button
  --color-button-unselected-bg: #edf0f7;
  --color-button-font: #545d71;
  --color-button-border: #7a8290;
  --button-height: 42px;
  --button-border-radius: 21px;

  // Notificaitons
  --color-notification-alert: #1b79ff;
  --color-notification-counter-bg: #ff5674;
  --color-notification-unread-bg: #f3f3f7;
  --color-notification-unread-font: #5f677a;
  --color-notification-date: #8891a7;
  --color-notification-separation: #e0e1e3;
  --notification-border-radius: 14px;

  // Others
  --color-scroll: #a0abc0;
  --modal-border-radius: 8px;
  --color-blue-text: #1374ff;
}
